<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Integer division</title>
<style>
body {
    border-collapse: collapse;
    font-family: "Courier New", Courier, monospace;
    font-size:32px;
    white-space: pre;
}
.block {
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    width: {{widthCanvas}}px;
    justify-content: space-between;
    background: #786b59;
    margin: 16px;
}

.block__element {
    width: 32px;
    text-align: center;
}

#target1:hover ~ #source1Green{
    color: green;
    font-weight: 600;
}

#target1:hover ~ #source1Blue{
    color: blue;
    font-weight: 600;
}

#target1:hover ~ #source1Violet{
    color: violet;
    font-weight: 600;
}
   
</style>
</head>
<body>
    <p>British notation:</p>
    <div class="block">
        {{#digitsArray}}
            <div class="block__element" {{id_element}}>{{value}}</div>
        {{/digitsArray}}
    </div>
</body>
</html>