<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Integer division</title>
<style>
body {
    border-collapse: collapse;
    font-family: "Courier New", Courier, monospace;
    font-size:24px;
    white-space: pre;
}
.block {
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    width: {{widthCanvas}}px;
    justify-content: space-between;
    background: #786b59;
    margin: 16px;
}

.block__element {
    width: 24px;
    text-align: center;
}

{{#Steps}}
#target{{value}}:hover ~ .GREEN{{value}}{
    color: green;
    font-weight: 600;
}

#target{{value}}:hover ~ .BLUE{{value}}{
    color: blue;
    font-weight: 600;
}

#target{{value}}:hover ~ .VIOLET{{value}}{
    color: violet;
    font-weight: 600;
}
{{/Steps}}
   
</style>
</head>
<body>
    <strong>British notation:</strong>
    <div class="block">
        {{#digitsArray}}       
            <div class="block__element{{color}}{{stage}}"{{^idEmpty}} id = "target{{id}}"{{/idEmpty}}>{{value}}</div>
        {{/digitsArray}}
    </div>
</body>
</html>